.container-xl {
  margin: 0 auto;
  max-width: 100%;
}

.bottom {
  margin-top: 20px;
  text-align: center;
  color: gray;
}

a {
  color: gray;
}

.version {
  margin-top: 20px;
  text-align: center;
  color: gray;
}
