.menu-bar {
  max-width: 100%;
  background: linear-gradient(#ff8f8f, #63faff);
  // background: linear-gradient(#ff8f8f, #63faff);
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
}

.header-menu {
  margin-bottom: 15px;
  color: white;
}

.form-control {
  border-radius: 25px;
  margin-right: 10px;
}

.btn {
  padding: 0;

  // margin-bottom: 5px;
  border-radius: 25px;
}

.btn-light {
  padding: 0px 15px 0px 15px;
}
